recursive-include src/flashmask/csrc *
global-exclude *.py[cod]
global-exclude __pycache__
prune src/flashmask/__pycache__
prune src/flashmask/csrc/flashmask_v2/__pycache__
prune context
prune documentation
prune paper
prune sub
prune tests
prune uv-docs
exclude summary_flashmask.md
